:root {
    --brand-color: #EF5F4C;
    --bg-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #FFFFFF91;

    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text: 16px/150% var(--font-family);
    --text-md: 14px/170% var(--font-family);
    --text-sm: 12px/170% var(--font-family);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

body {
    font-family: var(--font-family);
    color: var(--text-color-secondary);
    background-color: var(--bg-color);
}

.container {
    padding-inline: 32px;
    max-width: 1280px;
}

.bg-surface-color {
    background-color: var(--surface-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding-block: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;

    padding-block: 8px;
}

nav ul li:last-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

header {
    padding-block: 32px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 32px;
}

#profile img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
}
 
#profile > div {
    max-width: 384px;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#profile p {
    font: var(--text-md);
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 280px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}